<style type="text/css">
    
</style>
<link href="http://s.xnimg.cn/a51059/n/core/home-frame2-all-min.css" rel="stylesheet" type="text/css" />
<div id="ad0" class="jebe-adzone" controls></div>
<script type="text/javascript" src="/assets/base-all2.js"></script>
<script type="text/javascript">
document.domain = 'renren.com';
(function () {

    var loadRes = function (path, fn) {
        var isCSS = /\.css$/.test(path), tag;
        if (isCSS) {
            tag = document.createElement('link');
        }
        else {
            tag = document.createElement('script');
        }
        tag.onload = tag.onerror = tag.onreadystatechange = function () {
            if (tag && tag.readyState && tag.readyState !== 'loaded' && tag.readyState !== 'complete') { return; }
            try {
                //tag.parentNode.removeChild(tag);
                tag = null;
            } catch (ex) {}
            fn && fn();
        }
        if (isCSS) {
            tag.type = 'text/css';
            tag.rel = 'stylesheet';
            tag.href = path;
        }
        else {
            tag.type = 'text/javascript';
            tag.src = path;
        }
        document.getElementsByTagName('head')[0].appendChild(tag);
    };



    var JebeManager = function () {

        var load = function () {
            loadRes('/assets/widgetbox.css');
            loadRes('/assets/jebe.js');
        };

        return {
            load: load
        }
    };

    JebeManager.define = function (fn) {
       	fn();
    }

    window.JebeManager = JebeManager;

    window.send = function (data) {console.log(data)
        if (JebeManager.Jebe) {
    	   new JebeManager.Jebe(data).render([{adzone_id: '0', html: window.name, js:'var init = function(){}'}]);
        }
    };


    JebeManager().load();

})();
</script>