<style type="text/css">
    .jebe-adzone {float: left; margin: 25px; position: relative; }
</style>
<div id="ad100000000060" class="jebe-adzone" controls></div>
<div id="ad100000000065" class="jebe-adzone" controls></div>
<div id="ad100000000093" class="jebe-adzone" controls></div>
<div id="ad100000000100" class="jebe-adzone" controls></div>
<div id="ad100000000101" class="jebe-adzone"></div>
<p id="log"></p>
<script type="text/javascript" src="/assets/base-all2.js"></script>
<script type="text/javascript" src="/assets/ad.js"></script>