<style type="text/css">
	iframe {
		border: none;
	}
	.container {
		width: 960px;
		margin: auto;
		border: 1px solid grey;
		overflow: hidden;
	}
	.panel {
		float: left;
		width: 450px;
		margin: 0 15px;
	} 
	h1 {
		background: grey;
		margin: 0;
		color: white;
		padding: 0 15px;
	}
	h2 {
		background: #eee;
		padding: 0 15px;
	}

	.jebe-error {
		margin: 0;
		color: red;
		font-size: 10px;
	}
	.jebe-counter {
		color: black;
	}
</style>
<script type="text/javascript">
	window['jebePreviewTmpl'] = '<%= raw @runtime %>';
</script>
<div class="container">
	<h1>Jebe Simulator</h1>
	<div class="panel">
		<h2>Setting</h2>
		<%= raw @setting %>
	</div>
	<div class="panel">
		<h2>runtime</h2>
		<iframe width="300" height="300" src="/jebe/preview" jebe-simulator></iframe>
	</div>
</div>
