<link href="http://s.xnimg.cn/a51059/n/core/home-frame2-all-min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .jebe-adzone {float: left; margin: 25px; position: relative; }
</style>
<div id="ad100000000060" class="jebe-adzone" controls></div>
<script type="text/javascript" src="/assets/base-all2.js"></script>
<script type="text/javascript" src="/assets/ad.js"></script>