<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>Jebe</title>
  <meta charset="utf-8">
  <link href="http://s.xnimg.cn/a51059/n/core/home-frame2-all-min.css" rel="stylesheet" type="text/css" />
  <script src="/assets/base-all2.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
