<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>宿舍</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="http://s.xnimg.cn/sushe/mods/core.js?r=1"></script>
  <link rel="stylesheet" type="text/css" href="http://s.xnimg.cn/sushe/css/core.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>